# Node
node_modules/
.next/
out/
build/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/

# Environment Variables
.env*.local
backend/.env
frontend/.env.local

# OS
.DS_Store
Thumbs.db
